/* 基础字体包：包含所有非中文字符及常用3500字 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url('./font/common.woff2') format('woff2');
  font-display: swap;
}

/* 稀有字分块 1 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-1.woff2') format('woff2');
  unicode-range: U+4E02, U+4E04-4E06, U+4E0C, U+4E0F, U+4E12, U+4E15, U+4E17, U+4E1E-4E21, U+4E23, U+4E26, U+4E28-4E29, U+4E2B-4E2C, U+4E2E-4E2F, U+4E31, U+4E33, U+4E35-4E37, U+4E3C, U+4E3F-4E42, U+4E44, U+4E46-4E47, U+4E4A, U+4E51, U+4E55, U+4E57, U+4E5A-4E5C, U+4E62-4E65, U+4E67-4E6F, U+4E72, U+4E74-4E7D, U+4E7F-4E85, U+4E87, U+4E8A, U+4E8D, U+4E90, U+4E93, U+4E96-4E99, U+4E9C-4EA0, U+4EA2-4EA3, U+4EA8, U+4EAA, U+4EAF-4EB1, U+4EB3-4EB9, U+4EBB-4EBE, U+4EC2-4EC4, U+4EC8-4EC9, U+4ECC, U+4ECF-4ED0, U+4ED2, U+4ED5, U+4EDA-4EE2, U+4EE6-4EE9, U+4EEB, U+4EED-4EEF, U+4EF1, U+4EF3-4EF5, U+4EF8-4EFA, U+4EFC, U+4EFE, U+4F00, U+4F02-4F09, U+4F0B-4F0C, U+4F0E, U+4F12-4F16, U+4F1B-4F1D, U+4F21-4F23, U+4F25, U+4F27-4F29, U+4F2B-4F2E, U+4F31-4F33, U+4F35, U+4F37, U+4F39, U+4F3B, U+4F3D-4F42, U+4F44-4F45, U+4F47-4F4C, U+4F50, U+4F52, U+4F54, U+4F56-4F58, U+4F5A, U+4F5D;
  font-display: swap;
}

/* 稀有字分块 2 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-2.woff2') format('woff2');
  unicode-range: U+4F5E-4F5F, U+4F61-4F62, U+4F64-4F68, U+4F6A-4F72, U+4F74-4F7E, U+4F80-4F83, U+4F85-4F87, U+4F89-4F8A, U+4F8C, U+4F8E-4F9A, U+4F9C, U+4F9E-4F9F, U+4FA1-4FA2, U+4FA4, U+4FA9-4FAD, U+4FB0-4FB4, U+4FB6-4FBE, U+4FC0-4FC2, U+4FC5-4FC9, U+4FCB-4FCE, U+4FD1-4FD6, U+4FD9-4FDC, U+4FDE-4FE0, U+4FE2-4FE8, U+4FEA-4FEC, U+4FF0, U+4FF2-4FF9, U+4FFB-500C, U+500E-5011, U+5013, U+5015-5017, U+501B-501E, U+5020, U+5022-5025, U+5027-5039, U+503B, U+503D, U+503F-5046, U+5048-504D, U+5050-5058;
  font-display: swap;
}

/* 稀有字分块 3 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-3.woff2') format('woff2');
  unicode-range: U+5059, U+505B, U+505D-5064, U+5066-5075, U+5078-507E, U+5081-5084, U+5086-508C, U+508E-50A7, U+50A9-50AB, U+50AD-50B1, U+50B3-50BA, U+50BC-50CE, U+50D0-50D9, U+50DB-50E6, U+50E8-50F4, U+50F6-50FA, U+50FC-5111, U+5113-5120, U+5122-5134;
  font-display: swap;
}

/* 稀有字分块 4 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-4.woff2') format('woff2');
  unicode-range: U+5135-513E, U+5140, U+5142, U+5147, U+514A, U+514C, U+514E-5150, U+5152-5153, U+5155-5159, U+515B, U+515D-5161, U+5163-5164, U+5166-5167, U+5169-516A, U+516E-516F, U+5172, U+5179-517A, U+517E-517F, U+5181-5184, U+5186-5187, U+5189-518B, U+518E-5191, U+5193-5194, U+5196, U+5198, U+519A, U+519D-519F, U+51A1-51A3, U+51A5-51AB, U+51AD-51AE, U+51B1, U+51B4, U+51B8-51BA, U+51BC-51BF, U+51C1-51C3, U+51C5, U+51C7-51C8, U+51CA-51CB, U+51CD-51CE, U+51D0, U+51D2-51DA, U+51DC, U+51DE-51DF, U+51E2-51E3, U+51E5-51EA, U+51EC, U+51EE, U+51F1-51F2, U+51F4-51F5, U+51F7, U+51FC, U+51FE, U+5202, U+5204-5205, U+5208-5209, U+520B-5210, U+5213-5216, U+521C, U+521E-521F, U+5221-5223, U+5225-5227, U+522A, U+522C-522D, U+522F, U+5231-5235, U+523C, U+523E-5241, U+5244-5249, U+524B-524C, U+524E-5250, U+5252-5253, U+5255, U+5257-5264, U+5266, U+5268, U+526B-526E, U+5270-5271;
  font-display: swap;
}

/* 稀有字分块 5 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-5.woff2') format('woff2');
  unicode-range: U+5273-527E, U+5280-5287, U+5289-529A, U+529C, U+52A2, U+52A4-52A7, U+52AC-52B0, U+52B4-52BE, U+52C0-52C2, U+52C4-52C6, U+52C8, U+52CA, U+52CC-52D1, U+52D3-52D7, U+52D9-52DE, U+52E0-52E3, U+52E5-52F9, U+52FB-52FD, U+5301-5304, U+5307, U+5309-5314, U+5318, U+531A-531F, U+5321-5322, U+5324-5329, U+532B-5338, U+533C-533D, U+5340, U+5342, U+5344-5346, U+5349, U+534B-534D, U+5350, U+5354, U+5358-5359, U+535B, U+535D-535F, U+5363, U+5365, U+5368-536A, U+536C-536F, U+5372, U+5376, U+5379-537E, U+5380-5381, U+5383-5384, U+5387;
  font-display: swap;
}

/* 稀有字分块 6 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-6.woff2') format('woff2');
  unicode-range: U+5388, U+538A, U+538D-5394, U+5396-5397, U+5399, U+539B-539E, U+53A0-53A1, U+53A3-53A5, U+53A7, U+53A9-53BA, U+53BC-53BE, U+53C0, U+53C3-53C7, U+53CE-53D0, U+53D2-53D3, U+53D5, U+53DA, U+53DC-53DF, U+53E1-53E2, U+53E7, U+53E9, U+53F1, U+53F4-53F5, U+53FA-53FB, U+53FE-5400, U+5402, U+5405, U+5407, U+540B, U+5412, U+5414, U+5416, U+5418-541A, U+541C, U+5421-5425, U+542A, U+5430, U+5432-5433, U+5436-5437, U+543A, U+543D-543F, U+5441-5445, U+5447, U+5449, U+544B-544F, U+5451-5454, U+5456-5457, U+5459-545A, U+545D-5461, U+5463-5467, U+5469-5472, U+5474, U+5476-547A, U+547E-5485, U+5487-548B, U+548D-548E, U+5491, U+5493-5494, U+5497-5498, U+549A-54A6, U+54A9, U+54AB, U+54AD-54B0, U+54B2, U+54B4-54B7, U+54B9-54BC, U+54BE-54BF, U+54C2-54C3, U+54C5, U+54C7, U+54C9;
  font-display: swap;
}

/* 稀有字分块 7 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-7.woff2') format('woff2');
  unicode-range: U+54CA-54CC, U+54CF-54D0, U+54D2-54D6, U+54D8-54DE, U+54E0-54E4, U+54E6-54E7, U+54EB-54EC, U+54EF-54F1, U+54F3-54F9, U+54FB, U+54FD-5500, U+5502-5505, U+5508, U+550A-550F, U+5511-551F, U+5521-5523, U+5525-5526, U+5528-552B, U+552D, U+5530, U+5532-553D, U+553F-5542, U+5545, U+5547-5549, U+554B-5560, U+5562-5563, U+5567-556F, U+5571-5577, U+5579-557B, U+557D-5581, U+5583, U+5585-5586, U+5588, U+558B-5597, U+5599-559B, U+559E-55A6, U+55A8-55B2, U+55B4-55B6, U+55B8-55BA, U+55BC-55C3;
  font-display: swap;
}

/* 稀有字分块 8 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-8.woff2') format('woff2');
  unicode-range: U+55C4, U+55C6-55D2, U+55D4-55DB, U+55DD-55E0, U+55E2-55E3, U+55E5, U+55E7-55FC, U+55FE-55FF, U+5602-5608, U+560A-5630, U+5633, U+5635, U+5637-5638, U+563A-563E, U+5640-5667, U+566B-568D, U+568F-569F;
  font-display: swap;
}

/* 稀有字分块 9 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-9.woff2') format('woff2');
  unicode-range: U+56A0-56A2, U+56A4-56B6, U+56B8-56BB, U+56BD-56C9, U+56CB-56D9, U+56DC-56DD, U+56DF, U+56E1, U+56E3, U+56E5-56EC, U+56EE-56EF, U+56F2-56F3, U+56F5-56F9, U+56FB-56FC, U+56FF-5702, U+5704-5705, U+5707, U+5709-571E, U+5720-5722, U+5724-5727, U+5729-572F, U+5731-5739, U+573B-573D, U+573F, U+5741-5746, U+5748-5749, U+574B-574D, U+5752-5756, U+5758-5759, U+575C, U+5762-5763, U+5765, U+5767-5769, U+576B-576E, U+5770-5776, U+5778-5781, U+5785-578A, U+578C-5791, U+5793-579A;
  font-display: swap;
}

/* 稀有字分块 10 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-10.woff2') format('woff2');
  unicode-range: U+579C-57A1, U+57A3-57A5, U+57A7-57AA, U+57AC-57AD, U+57AF-57C1, U+57C4-57CA, U+57CC-57CD, U+57CF-57DE, U+57E1-57F8, U+57FB-5801, U+5803-5805, U+5807-5814, U+5816-5820, U+5822-5823, U+5825-5829, U+582B-582F, U+5831-5834, U+5836-584B, U+584D-5850, U+5852-5853, U+5855-5857, U+5859-585D, U+585F-586A, U+586C-587D;
  font-display: swap;
}

/* 稀有字分块 11 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-11.woff2') format('woff2');
  unicode-range: U+587E-5882, U+5884, U+5886-5892, U+5894-5898, U+589A-589D, U+589F-58A7, U+58AA-58C0, U+58C2-58D4, U+58D6-58E3, U+58E5-58EA, U+58EC-58ED, U+58EF, U+58F1-58F2, U+58F4-58F5, U+58F7-58F8, U+58FA-5903, U+5905-5906, U+5908-590C, U+590E, U+5910-5914, U+5917-5919, U+591B, U+591D-591E, U+5920-5926, U+5928, U+592C, U+5930, U+5932-5933, U+5935-5936, U+593B-5943, U+5945-5946, U+594A, U+594C-594E, U+5950, U+5952-5953, U+5958-595F, U+5961, U+5963-5964, U+5966-5972, U+5975, U+5977, U+597A-597C, U+597E-597F;
  font-display: swap;
}

/* 稀有字分块 12 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-12.woff2') format('woff2');
  unicode-range: U+5980-5981, U+5983, U+5985, U+5989-5991, U+5994-5995, U+5997-5998, U+599A-59A4, U+59A6-59A7, U+59A9-59B8, U+59BA, U+59BC-59C5, U+59C7-59C9, U+59CC-59CF, U+59D2, U+59D5-59D9, U+59DB, U+59DD-59E4, U+59E6-59E7, U+59E9-59FA, U+59FC-59FE, U+5A00, U+5A02, U+5A05-5A06, U+5A08-5A17, U+5A19-5A1B, U+5A1D-5A28, U+5A2A-5A30, U+5A32-5A35, U+5A37-5A45, U+5A47-5A48, U+5A4A-5A59, U+5A5B-5A6D;
  font-display: swap;
}

/* 稀有字分块 13 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-13.woff2') format('woff2');
  unicode-range: U+5A6E-5A73, U+5A75, U+5A77-5A7E, U+5A80-5A91, U+5A93-5A99, U+5A9B-5AB2, U+5AB4-5AC0, U+5AC3-5AC8, U+5ACA-5ACB, U+5ACD-5AE0, U+5AE2-5AE8, U+5AEA-5B08, U+5B0A-5B42;
  font-display: swap;
}

/* 稀有字分块 14 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-14.woff2') format('woff2');
  unicode-range: U+5B43-5B4F, U+5B51-5B53, U+5B56, U+5B5A-5B5C, U+5B5E, U+5B60-5B62, U+5B65, U+5B67-5B68, U+5B6A-5B74, U+5B76-5B7C, U+5B7E-5B80, U+5B82, U+5B84, U+5B86, U+5B8A, U+5B8D-5B8E, U+5B90-5B96, U+5B9F, U+5BA5, U+5BA7-5BA9, U+5BAC-5BAF, U+5BB1-5BB2, U+5BB7-5BB8, U+5BBA-5BBC, U+5BC0-5BC1, U+5BC3, U+5BC5, U+5BC8-5BCB, U+5BCD-5BD1, U+5BD4-5BDC, U+5BE0, U+5BE2-5BE4, U+5BE6-5BE7, U+5BE9-5BF7, U+5BFD-5BFE, U+5C00, U+5C02-5C03, U+5C05, U+5C07-5C08, U+5C0B-5C0E, U+5C10, U+5C12-5C13, U+5C15, U+5C17, U+5C19, U+5C1B-5C1C, U+5C1E-5C23, U+5C25-5C30, U+5C32-5C37, U+5C39, U+5C3B, U+5C43-5C44, U+5C46-5C47, U+5C4C-5C4D, U+5C50, U+5C52-5C54, U+5C56-5C5D, U+5C5F, U+5C62-5C64, U+5C66-5C6E, U+5C70, U+5C72-5C73;
  font-display: swap;
}

/* 稀有字分块 15 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-15.woff2') format('woff2');
  unicode-range: U+5C74-5C78, U+5C7A-5C7E, U+5C80, U+5C83-5C93, U+5C95, U+5C98-5C9A, U+5C9C-5CA8, U+5CAA-5CAC, U+5CAE-5CB2, U+5CB4-5CB7, U+5CB9-5CE0, U+5CE2-5CE5, U+5CE7-5CEC, U+5CEE-5CEF, U+5CF1-5CFA, U+5CFC-5D06, U+5D08-5D0D, U+5D0F-5D13, U+5D15, U+5D17-5D28, U+5D2A-5D2C, U+5D2E-5D4B, U+5D4D-5D53;
  font-display: swap;
}

/* 稀有字分块 16 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-16.woff2') format('woff2');
  unicode-range: U+5D54-5DCC, U+5DCE-5DDC, U+5DDF-5DE0, U+5DE3-5DE4, U+5DEA, U+5DEC-5DED, U+5DEF-5DF0, U+5DF3, U+5DF5-5DF6, U+5DF8-5DFD, U+5DFF-5E00, U+5E04, U+5E07, U+5E09-5E0B, U+5E0D-5E0F, U+5E11-5E14, U+5E17, U+5E19, U+5E1B, U+5E1E-5E25, U+5E27-5E2C, U+5E2F-5E37, U+5E39-5E3C, U+5E3E-5E3F;
  font-display: swap;
}

/* 稀有字分块 17 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-17.woff2') format('woff2');
  unicode-range: U+5E40-5E44, U+5E46-5E4B, U+5E4D-5E53, U+5E56-5E61, U+5E63-5E71, U+5E75, U+5E77, U+5E79-5E7A, U+5E7E, U+5E80-5E83, U+5E85, U+5E88-5E89, U+5E8B-5E8E, U+5E91-5E92, U+5E96, U+5E98, U+5E9A-5E9B, U+5E9D, U+5EA0-5EA5, U+5EA8-5EAC, U+5EAE-5EB4, U+5EB9-5EC8, U+5ECB-5ED2, U+5ED4-5EF5, U+5EF8-5EF9, U+5EFB-5EFF, U+5F01, U+5F05-5F09, U+5F0B-5F0E, U+5F10-5F12, U+5F14, U+5F16-5F1A, U+5F1C-5F1E, U+5F21-5F24, U+5F28-5F2E, U+5F30, U+5F32-5F38, U+5F3B-5F42;
  font-display: swap;
}

/* 稀有字分块 18 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-18.woff2') format('woff2');
  unicode-range: U+5F43-5F51, U+5F54, U+5F56-5F61, U+5F63, U+5F65-5F68, U+5F6B, U+5F6E-5F6F, U+5F72-5F78, U+5F7A, U+5F7D-5F7F, U+5F82-5F83, U+5F86-5F87, U+5F89, U+5F8C-5F8F, U+5F91, U+5F93-5F96, U+5F9A-5FA0, U+5FA2-5FA9, U+5FAB-5FAD, U+5FAF-5FB6, U+5FB8-5FBC, U+5FBE-5FC2, U+5FC4, U+5FC7-5FCB, U+5FCE-5FD6, U+5FDA-5FDF, U+5FE1-5FE6, U+5FE8-5FEA, U+5FEC-5FF0, U+5FF2-5FF4, U+5FF6-5FFC, U+5FFE, U+6002-600D, U+600F-6011, U+6013, U+6017-601B, U+601E-601F, U+6021-6024, U+6026, U+6029, U+602B-602E, U+6030-603A, U+603C-6042, U+6044-6049;
  font-display: swap;
}

/* 稀有字分块 19 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-19.woff2') format('woff2');
  unicode-range: U+604A, U+604C, U+604E-604F, U+6051, U+6053-6054, U+6056-6061, U+6063, U+6065-6067, U+606A-606B, U+606E, U+6071-6072, U+6074-6075, U+6077-607B, U+607D-6083, U+6085-6088, U+608A-608C, U+608E-6093, U+6095-609E, U+60A1-60A2, U+60A4-60A5, U+60A7, U+60A9-60AB, U+60AD-60AE, U+60B0-60B1, U+60B3, U+60B5-60BB, U+60BD-60C4, U+60C6-60C9, U+60CC-60D0, U+60D2-60D4, U+60D6-60DB, U+60DD-60DF, U+60E1-60E5, U+60EA, U+60EC, U+60EE, U+60F1-60F2, U+60F4-60F5, U+60F7-60F8, U+60FA-6100, U+6102-6107, U+610A-610E, U+6110-6114, U+6116-6119, U+611B-611E, U+6120-6123, U+6125-6126, U+6128-613E, U+6140-6147, U+6149-614B, U+614D;
  font-display: swap;
}

/* 稀有字分块 20 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-20.woff2') format('woff2');
  unicode-range: U+614F-6154, U+6156-6161, U+6163-6166, U+6169-616F, U+6171-6176, U+6178-618A, U+618C-618D, U+618F-6193, U+6195-61A7, U+61A9-61BD, U+61BF-61C1, U+61C3-61C7, U+61C9, U+61CB-61D1, U+61D3-61E5, U+61E7-6207, U+6209-620E, U+6213-6215, U+6217, U+6219, U+621B-6229, U+622B-622F;
  font-display: swap;
}

/* 稀有字分块 21 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-21.woff2') format('woff2');
  unicode-range: U+6230-6232, U+6235-6236, U+6238-623E, U+6242-6246, U+6248-624A, U+624C, U+624F-6250, U+6255-6257, U+6259-625A, U+625C-6262, U+6264-6266, U+6268, U+626A, U+6271-6272, U+6274-6275, U+6277-6278, U+627A-627B, U+627D, U+6281-6283, U+6285-6289, U+628B-6290, U+6294, U+6299, U+629C-629F, U+62A3, U+62A6-62AA, U+62AD-62B0, U+62B2-62B4, U+62B6-62B8, U+62BA-62BB, U+62BE-62C1, U+62C3, U+62C8, U+62CA-62CB, U+62CE-62CF, U+62D1, U+62D5, U+62DA, U+62DD-62DE, U+62E0-62E1, U+62E4, U+62EA-62EB, U+62EE, U+62F0, U+62F2, U+62F5-62F6, U+62F8-62FB, U+62FD, U+6300, U+6303-6306, U+6308, U+630A-630D, U+630F-6310, U+6312-6315, U+6317-6319, U+631B-631E, U+6322, U+6326-6327, U+6329, U+632C-632E, U+6330-6339, U+633B-633C, U+633E-6341, U+6343-6344, U+6347-6348, U+634A-634B, U+6351-6354, U+6356-635D, U+6360, U+6364-6366, U+6368-636D, U+636F-6375, U+6378-6379;
  font-display: swap;
}

/* 稀有字分块 22 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-22.woff2') format('woff2');
  unicode-range: U+637C-637F, U+6381, U+6383-6387, U+638A-638B, U+638D-638E, U+6391, U+6393-6395, U+6397, U+6399-639F, U+63A1, U+63A3-63A4, U+63A6, U+63AB-63AF, U+63B1-63B6, U+63B9, U+63BB-63C8, U+63CA-63CC, U+63CE, U+63D1, U+63D3-63D5, U+63D7-63E0, U+63E2, U+63E4-63E8, U+63EB-63EC, U+63EE-63F3, U+63F5-63FC, U+63FE-63FF, U+6403-6404, U+6406-640E, U+6410-6412, U+6415-641B, U+641D, U+641F-6429, U+642B, U+642E-6439, U+643B-6443, U+6445, U+6448-6449, U+644B-6453, U+6455-6457, U+6459-6466, U+6468, U+646A-6477, U+647A-647C;
  font-display: swap;
}

/* 稀有字分块 23 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-23.woff2') format('woff2');
  unicode-range: U+647D-6486, U+6488-6490, U+6493-6494, U+6496-649D, U+649F-64A3, U+64A5-64A8, U+64AA-64AB, U+64AF, U+64B1-64B4, U+64B6-64BB, U+64BD-64C1, U+64C3-64C4, U+64C6-64CC, U+64CF-64D1, U+64D3-64E5, U+64E7-64FF, U+6501-6511, U+6513-6517, U+6519-652E, U+6530-6535, U+6537-6538, U+653A, U+653C-653D, U+6540-6544, U+6546-6547, U+6549-654B, U+654D-654E, U+6550, U+6552-6558, U+655A, U+655C-655D, U+655F-6561, U+6564-6565, U+6567-656B;
  font-display: swap;
}

/* 稀有字分块 24 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-24.woff2') format('woff2');
  unicode-range: U+656D-656F, U+6571, U+6573, U+6575-6576, U+6578-6586, U+6588-658A, U+658C-6590, U+6592-6596, U+6598, U+659A-659B, U+659D-659E, U+65A0-65A3, U+65A6, U+65A8, U+65AA-65AC, U+65AE, U+65B1-65B8, U+65BA-65BC, U+65BE-65C0, U+65C2-65C4, U+65C6-65CA, U+65CC-65CE, U+65D0-65D6, U+65D8-65DF, U+65E1, U+65E3-65E4, U+65EA-65EB, U+65EE-65F0, U+65F2-65F5, U+65F8-65F9, U+65FB-6601, U+6603-6605, U+6607-660B, U+660D, U+6610-6612, U+6615-6618, U+661A-661E, U+6621-6624, U+6626, U+6629-662C, U+662E, U+6630-6634, U+6636-663B, U+663D, U+663F-6642, U+6644-664A, U+664D-6651, U+6654, U+6656-6659, U+665B-6663, U+6665, U+6667, U+6669-666D, U+6671-6673, U+6675, U+6677-6679, U+667B-667C;
  font-display: swap;
}

/* 稀有字分块 25 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-25.woff2') format('woff2');
  unicode-range: U+667D, U+667F-6681, U+6683-6686, U+6688-6690, U+6692-6695, U+6698-66AD, U+66AF-66B3, U+66B5-66D8, U+66DA-66F1, U+66F3, U+66F5-66F8, U+66FA-66FB, U+66FD, U+6701-6707, U+670A, U+670C, U+670E-6716, U+6718-671A, U+671C, U+671E, U+6720-6725, U+6727, U+6729, U+672D-672E, U+6730, U+6732-6733, U+6736-6739, U+673B-673C, U+673E-673F, U+6741, U+6744-6745, U+6747, U+674A-674D, U+6752-6755, U+6757-675B, U+675D-675E, U+6762-6764, U+6766-6767, U+6769-676C, U+676E, U+6771-677B;
  font-display: swap;
}

/* 稀有字分块 26 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-26.woff2') format('woff2');
  unicode-range: U+677C-677D, U+6780, U+6782-6783, U+6785-6788, U+678A-678F, U+6791-6794, U+6796, U+6798-6799, U+679B, U+679E-67A1, U+67A4-67A9, U+67AC-67AE, U+67B0-67B5, U+67B8-67C3, U+67C5-67CE, U+67D5-67DB, U+67DD-67DF, U+67E1-67E4, U+67E6-67EB, U+67ED-67F0, U+67F2, U+67F5-67FE, U+6800-6804, U+6806, U+6809-680A, U+680C-680E, U+6810, U+6812, U+6814-6815, U+6818-6820, U+6822-6829, U+682B-6836, U+683A-683B, U+683E-6841, U+6844, U+6847, U+6849-684B, U+684D-684F, U+6852-6862, U+6864, U+6867, U+686A-6875, U+6877-6880, U+6882-6883;
  font-display: swap;
}

/* 稀有字分块 27 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-27.woff2') format('woff2');
  unicode-range: U+6884, U+6887-6896, U+6898-68A1, U+68A3-68A5, U+68A9-68AC, U+68AE, U+68B1-68B2, U+68B4-68BF, U+68C1-68C8, U+68CA, U+68CC, U+68CE-68D1, U+68D3-68D4, U+68D6-68D7, U+68D9, U+68DB-68DF, U+68E1-68ED, U+68EF-68F0, U+68F2-68F4, U+68F6-68F9, U+68FB-6904, U+6906-690C, U+690F-6911, U+6913-692C, U+692E-692F, U+6931-693E, U+6940-6953, U+6955-6959, U+695B-695D, U+695F-6962, U+6964-696E;
  font-display: swap;
}

/* 稀有字分块 28 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-28.woff2') format('woff2');
  unicode-range: U+696F-6976, U+6978-697B, U+697D-6981, U+6983, U+6985, U+6987-6993, U+6996-699A, U+699D-69A7, U+69A9-69B3, U+69B5-69CF, U+69D1-69FC, U+69FE-6A09, U+6A0B-6A1E, U+6A20, U+6A22-6A29, U+6A2B-6A30, U+6A32-6A43, U+6A45-6A49;
  font-display: swap;
}

/* 稀有字分块 29 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-29.woff2') format('woff2');
  unicode-range: U+6A4A-6A57, U+6A5A-6A60, U+6A62-6A70, U+6A72-6A7F, U+6A81-6A8F, U+6A91-6AA8, U+6AAA-6AAB, U+6AAD-6B19;
  font-display: swap;
}

/* 稀有字分块 30 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-30.woff2') format('woff2');
  unicode-range: U+6B1A-6B1F, U+6B24-6B26, U+6B28-6B31, U+6B33-6B39, U+6B3B-6B3D, U+6B3F-6B46, U+6B48, U+6B4A-6B4B, U+6B4D-6B61, U+6B68-6B69, U+6B6B-6B78, U+6B7A, U+6B7D-6B82, U+6B84-6B88, U+6B8C-6B95, U+6B97-6BB3, U+6BB6, U+6BB8-6BBE, U+6BC0, U+6BC2-6BC4, U+6BC6-6BCC, U+6BCE, U+6BD0-6BD1, U+6BD3, U+6BD6-6BD8, U+6BDA, U+6BDC-6BE0, U+6BE2-6BEA, U+6BEC-6BEE, U+6BF0-6C0B;
  font-display: swap;
}

/* 稀有字分块 31 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-31.woff2') format('woff2');
  unicode-range: U+6C0C-6C0E, U+6C10, U+6C12, U+6C15-6C1A, U+6C1C-6C21, U+6C23-6C26, U+6C29-6C2D, U+6C30-6C33, U+6C35-6C37, U+6C39-6C40, U+6C43-6C46, U+6C48, U+6C4A-6C56, U+6C58-6C5A, U+6C5C-6C5D, U+6C62-6C63, U+6C65-6C69, U+6C6B-6C6F, U+6C71-6C78, U+6C7A-6C7C, U+6C7E-6C82, U+6C84-6C87, U+6C8A-6C8F, U+6C91-6C98, U+6C9A, U+6C9C-6C9E, U+6CA0, U+6CA2-6CA4, U+6CA8-6CA9, U+6CAC-6CAD, U+6CAF-6CB2, U+6CB4-6CB7, U+6CBA, U+6CC0-6CC3, U+6CC5-6CC8, U+6CCB, U+6CCD-6CD4, U+6CD6-6CDA, U+6CDC-6CDD, U+6CDF-6CE0, U+6CE4, U+6CE6-6CE7, U+6CE9, U+6CEB-6CEF, U+6CF1-6CF2, U+6CF4, U+6CF6-6CFA, U+6CFE-6D00, U+6D02-6D0A, U+6D0C-6D11, U+6D13-6D16, U+6D18-6D1A, U+6D1C;
  font-display: swap;
}

/* 稀有字分块 32 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-32.woff2') format('woff2');
  unicode-range: U+6D1D, U+6D1F-6D24, U+6D26-6D29, U+6D2B-6D31, U+6D33-6D3A, U+6D3F-6D40, U+6D42-6D44, U+6D48-6D49, U+6D4C-6D4D, U+6D4F-6D50, U+6D52, U+6D54-6D58, U+6D5A-6D65, U+6D67-6D68, U+6D6B-6D6D, U+6D6F-6D73, U+6D75-6D76, U+6D79-6D81, U+6D83-6D87, U+6D8A-6D8B, U+6D8D, U+6D8F-6D94, U+6D96-6D9A, U+6D9C, U+6D9E-6DA0, U+6DA2, U+6DA5, U+6DAA-6DAD, U+6DB0-6DB1, U+6DB3-6DB4, U+6DB6-6DBF, U+6DC1-6DC5, U+6DC7-6DCA, U+6DCD-6DD0, U+6DD2-6DD7, U+6DD9-6DE0, U+6DE2-6DE3, U+6DE5-6DEA, U+6DEC-6DED, U+6DEF-6DF0, U+6DF2, U+6DF4-6DF6, U+6DF8, U+6DFA, U+6DFC-6E04, U+6E06-6E09, U+6E0B-6E0F, U+6E11-6E13, U+6E15-6E16, U+6E18-6E1F, U+6E22, U+6E25-6E28;
  font-display: swap;
}

/* 稀有字分块 33 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-33.woff2') format('woff2');
  unicode-range: U+6E2A-6E2E, U+6E30-6E33, U+6E35-6E37, U+6E39, U+6E3B-6E42, U+6E44-6E55, U+6E57, U+6E59-6E7D, U+6E80-6E82, U+6E84, U+6E86-6E88, U+6E8A-6E8F, U+6E91-6E9B, U+6E9D-6EA1, U+6EA3-6EA9, U+6EAB-6EAE, U+6EB0-6EB5, U+6EB7-6EB9, U+6EBB-6ECA, U+6ECC-6ED0, U+6ED2, U+6ED5-6ED9, U+6EDB-6EDD, U+6EDF-6EE0, U+6EE2-6EE3, U+6EE6-6EE7, U+6EEA-6EF3, U+6EF5-6F01, U+6F03-6F05, U+6F07-6F0E, U+6F10-6F12, U+6F15;
  font-display: swap;
}

/* 稀有字分块 34 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-34.woff2') format('woff2');
  unicode-range: U+6F16-6F1F, U+6F21-6F28, U+6F2A, U+6F2C-6F30, U+6F32-6F3D, U+6F3F-6F57, U+6F59-6F5B, U+6F5D-6F65, U+6F67-6F6C, U+6F6F-6F83, U+6F85-6F87, U+6F89-6F8D, U+6F8F-6F9B, U+6F9D-6FA0, U+6FA2-6FB2, U+6FB4-6FBF, U+6FC1-6FD1, U+6FD3-6FEF;
  font-display: swap;
}

/* 稀有字分块 35 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-35.woff2') format('woff2');
  unicode-range: U+6FF0-7010, U+7012-704B, U+704D-706A, U+706C, U+706E, U+7071-7074, U+7077, U+7079-707B, U+707D, U+7080-7088, U+708B-708D, U+708F-7091, U+7093-7094, U+7096-70AA, U+70AF-70B7, U+70BA-70BB, U+70BD-70C0, U+70C3-70C7, U+70C9-70D2;
  font-display: swap;
}

/* 稀有字分块 36 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-36.woff2') format('woff2');
  unicode-range: U+70D3-70D7, U+70DA, U+70DC-70DE, U+70E0-70E3, U+70E5, U+70E8-70EA, U+70EC, U+70EE-70F8, U+70FA-7109, U+710B-7114, U+7116-7118, U+711B-7125, U+7127-712F, U+7131-7135, U+7137-714B, U+714D, U+714F-715D, U+715F-7163, U+7165-7166, U+7168-716D, U+716F-7183, U+7185-7189, U+718B-718E, U+7190-7193, U+7195-7198, U+719A-719E, U+71A0-71AB, U+71AD-71B8;
  font-display: swap;
}

/* 稀有字分块 37 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-37.woff2') format('woff2');
  unicode-range: U+71B9-71C2, U+71C4-71CD, U+71CF-71D4, U+71D6-71E4, U+71E6-7205, U+7207-7229, U+722B, U+722D-7230, U+7232-7234, U+723A-723C, U+723E-7246, U+7249-724B, U+724E-7258, U+725A, U+725C-7260, U+7263-7266, U+7268, U+726A-7271, U+7273-7274, U+7276-7278, U+727B-727F, U+7282-729E;
  font-display: swap;
}

/* 稀有字分块 38 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-38.woff2') format('woff2');
  unicode-range: U+729F-72AB, U+72AD-72AE, U+72B0-72B5, U+72B7-72B8, U+72BA-72C1, U+72C3-72C7, U+72C9-72CF, U+72D1-72D6, U+72D8-72DD, U+72DF, U+72E2-72EB, U+72EF, U+72F2-72F7, U+72F9-72FB, U+72FD-730D, U+730F-7315, U+7317-731A, U+731D-7328, U+732D, U+732F-7333, U+7335-733D, U+7340-7383, U+7385;
  font-display: swap;
}

/* 稀有字分块 39 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-39.woff2') format('woff2');
  unicode-range: U+7386, U+7388, U+738A, U+738C-7395, U+7397-739A, U+739C-73A8, U+73AA, U+73AC-73AE, U+73B1, U+73B3-73B6, U+73B8-73BA, U+73BC-73C9, U+73CB-73CC, U+73CE-73DF, U+73E1-73EC, U+73EE-7402, U+7404, U+7407-7408, U+740A-740F, U+7411-7421, U+7423-7432, U+7435-743B, U+743D-745D, U+7460-7468;
  font-display: swap;
}

/* 稀有字分块 40 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-40.woff2') format('woff2');
  unicode-range: U+7469-746F, U+7471-7482, U+7484-74A6, U+74A8-74DB, U+74DD-74E1, U+74E5, U+74E7-74ED, U+74EF-74F5, U+74F8-7517, U+7519, U+751B, U+751D-751E, U+7520-7524, U+7526-7527, U+752A, U+752C-752F, U+7534, U+7536, U+7539-753A, U+753C-7544, U+7546-754B, U+754D;
  font-display: swap;
}

/* 稀有字分块 41 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-41.woff2') format('woff2');
  unicode-range: U+754E, U+7550-7553, U+7555-7558, U+755A-755B, U+755D-7564, U+7567-7569, U+756B-7573, U+7575-7577, U+7579-7585, U+7587-758E, U+7590, U+7592-7596, U+7598, U+759B-759E, U+75A0-75A3, U+75A5-75AA, U+75AC-75AD, U+75B0-75B1, U+75B3-75B8, U+75BA-75BB, U+75BD, U+75BF-75C4, U+75C6, U+75C8-75C9, U+75CB-75D1, U+75D3-75D4, U+75D6-75D7, U+75D9-75DA, U+75DC-75E1, U+75E3-75E9, U+75EB-75EF, U+75F1-75F3, U+75F5-75F8, U+75FA-761E, U+7620-7623, U+7625, U+7627-7628, U+762C-7637, U+7639-763D, U+763F-7641;
  font-display: swap;
}

/* 稀有字分块 42 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-42.woff2') format('woff2');
  unicode-range: U+7642-764B, U+764D-765D, U+765F-7662, U+7664-767A, U+767C, U+767F-7681, U+7683, U+7685, U+7688-76AD, U+76AF-76B0, U+76B2-76BE, U+76C0-76C4, U+76C7, U+76C9, U+76CB-76CE, U+76D3, U+76D5, U+76D9-76DA, U+76DC-76DE, U+76E0-76ED, U+76F0-76F1, U+76F3, U+76F5-76F7, U+76FA-76FB, U+76FD, U+76FF-7700, U+7702-7708, U+770A, U+770C-771E, U+7721-7727, U+7729-772E, U+7730-7733;
  font-display: swap;
}

/* 稀有字分块 43 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-43.woff2') format('woff2');
  unicode-range: U+7734-7735, U+7738-773B, U+773D-773F, U+7742-775A, U+775C-7760, U+7762, U+7764-7765, U+7767-776B, U+776D-7778, U+777A-7783, U+7785-778D, U+778F-7791, U+7793-77A6, U+77A8-77A9, U+77AB, U+77AE-77B2, U+77B4-77BA, U+77BC-77D6, U+77D8-77DA, U+77DC-77E1, U+77E3-77E4, U+77E6-77E8, U+77EA, U+77EC, U+77EF-77F2, U+77F4-77FD, U+7800, U+7803-780B, U+780E-7813, U+7815, U+7817-7819, U+781B-7821;
  font-display: swap;
}

/* 稀有字分块 44 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-44.woff2') format('woff2');
  unicode-range: U+7822-782F, U+7831-7833, U+7835-7837, U+7839-783D, U+783F, U+7841-7844, U+7846-7854, U+7856-785C, U+785E-786A, U+786D, U+786F-787B, U+787D-7888, U+788A-788B, U+788F-7890, U+7892-7896, U+7899-789E, U+78A0-78A6, U+78A8-78AF, U+78B2, U+78B5-78BD, U+78BF-78C0, U+78C2-78C4, U+78C6-78D4, U+78D6-78E7, U+78E9-78F6, U+78F8-78F9, U+78FB-7900, U+7902-790A;
  font-display: swap;
}

/* 稀有字分块 45 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-45.woff2') format('woff2');
  unicode-range: U+790B-7939, U+793B, U+793D, U+793F-7947, U+7949-7955, U+7957-795C, U+7961-7964, U+7966-7967, U+7969-796C, U+796E-7976, U+7979-797F, U+7982-798E, U+7990-79BA, U+79BC, U+79BF, U+79C2, U+79C4-79C5, U+79C7-79C8, U+79CA, U+79CC, U+79CE-79D0, U+79D3-79D4, U+79D6-79D7, U+79D9-79DE, U+79E0-79E3, U+79E5, U+79E8, U+79EA, U+79EC-79EE, U+79F1-79F7, U+79F9-79FA;
  font-display: swap;
}

/* 稀有字分块 46 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-46.woff2') format('woff2');
  unicode-range: U+79FC, U+79FE-79FF, U+7A01-7A0A, U+7A0C, U+7A0F-7A19, U+7A1B-7A1F, U+7A21-7A32, U+7A34-7A3A, U+7A3E, U+7A40-7A45, U+7A47-7A56, U+7A58-7A73, U+7A75, U+7A78-7A79, U+7A7B-7A7E, U+7A80, U+7A82, U+7A85-7A8C, U+7A8E-7A90, U+7A93-7A95, U+7A99-7A9B, U+7A9E, U+7AA0-7AA4, U+7AA6-7ABE, U+7AC0-7ACA, U+7ACC-7AD5, U+7AD7-7AD8, U+7ADA-7ADD, U+7AE1-7AE2, U+7AE4, U+7AE6-7AEC;
  font-display: swap;
}

/* 稀有字分块 47 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-47.woff2') format('woff2');
  unicode-range: U+7AEE, U+7AF0-7AF8, U+7AFA-7AFE, U+7B00-7B05, U+7B07-7B0A, U+7B0C-7B10, U+7B12-7B13, U+7B15-7B18, U+7B1A, U+7B1C-7B23, U+7B25, U+7B27, U+7B29-7B2B, U+7B2D-7B3B, U+7B3D-7B48, U+7B4A, U+7B4C-7B4E, U+7B53, U+7B55, U+7B57-7B5A, U+7B5C, U+7B5E-7B76, U+7B78, U+7B7A-7B7D, U+7B7F, U+7B81-7B8C, U+7B8E-7B94, U+7B96, U+7B98-7BA0, U+7BA2-7BA8, U+7BAA, U+7BAC, U+7BAE-7BB0, U+7BB2-7BC6, U+7BC8-7BD2, U+7BD4-7BD8, U+7BDA-7BDC;
  font-display: swap;
}

/* 稀有字分块 48 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-48.woff2') format('woff2');
  unicode-range: U+7BDD-7BE0, U+7BE2-7BED, U+7BEF-7BF0, U+7BF2-7BF6, U+7BF8-7C06, U+7C08-7C37, U+7C39-7C3E, U+7C40-7C4C, U+7C4E-7C72, U+7C74-7C7A, U+7C7C, U+7C7E-7C88, U+7C8A-7C91, U+7C93-7C96, U+7C99-7C9E, U+7CA0-7CA3, U+7CA6-7CA9, U+7CAB-7CAD, U+7CAF-7CB0, U+7CB2-7CB8, U+7CBA;
  font-display: swap;
}

/* 稀有字分块 49 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-49.woff2') format('woff2');
  unicode-range: U+7CBB-7CBD, U+7CBF-7CC9, U+7CCB-7CD4, U+7CD7-7CD8, U+7CDA-7CDB, U+7CDD-7CDE, U+7CE1-7CEE, U+7CF0-7CFA, U+7CFC-7D09, U+7D0B-7D1F, U+7D21, U+7D23-7D26, U+7D28-7D2A, U+7D2C-7D2E, U+7D30-7D6D, U+7D6F-7D93;
  font-display: swap;
}

/* 稀有字分块 50 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-50.woff2') format('woff2');
  unicode-range: U+7D94-7E40, U+7E42-7E5C;
  font-display: swap;
}

/* 稀有字分块 51 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-51.woff2') format('woff2');
  unicode-range: U+7E5D-7E9F, U+7EA1, U+7EA3, U+7EA5, U+7EA8-7EA9, U+7EAD-7EAE, U+7EB0, U+7EB4, U+7EB6, U+7EBB-7EBC, U+7EBE, U+7EC0-7EC2, U+7EC9, U+7ECB-7ECC, U+7ED0, U+7ED4, U+7ED6-7ED7, U+7EDA-7EDB, U+7EE0-7EE1, U+7EE4-7EE6, U+7EE8, U+7EEB-7EEC, U+7EEE-7EEF, U+7EF1-7EF2, U+7EF6, U+7EF9-7EFB, U+7EFE, U+7F01-7F04, U+7F07-7F0D, U+7F0F-7F12, U+7F17, U+7F19, U+7F1B-7F1C, U+7F1E-7F1F, U+7F21-7F23, U+7F25-7F27, U+7F2A-7F2C, U+7F2E-7F2F, U+7F31-7F33, U+7F35-7F37, U+7F39, U+7F3B-7F4F, U+7F52-7F54, U+7F56, U+7F58-7F59, U+7F5B-7F61, U+7F63-7F68, U+7F6B-7F6D, U+7F6F-7F71, U+7F73-7F78;
  font-display: swap;
}

/* 稀有字分块 52 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-52.woff2') format('woff2');
  unicode-range: U+7F79-7F89, U+7F8B-7F8D, U+7F8F-7F93, U+7F95-7F9D, U+7F9F-7FA0, U+7FA2-7FA3, U+7FA5-7FB8, U+7FBA-7FBC, U+7FBE-7FC0, U+7FC2-7FC4, U+7FC6-7FCD, U+7FCF-7FD3, U+7FD5-7FD7, U+7FD9-7FDF, U+7FE1-7FE8, U+7FEA-7FEF, U+7FF1-7FFA, U+7FFD-7FFF, U+8002, U+8004, U+8006-800B, U+800E-800F, U+8011-8014, U+8016, U+801A-8032, U+8034-8037, U+8039-803A, U+803C, U+803E, U+8040-8041, U+8043-8049, U+804D-8053, U+8055-8057, U+8059, U+805B-8069;
  font-display: swap;
}

/* 稀有字分块 53 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-53.woff2') format('woff2');
  unicode-range: U+806B-8082, U+8085, U+8087-8088, U+808A, U+808D-8095, U+8097, U+8099, U+809C, U+809E-809F, U+80A3, U+80A6-80A8, U+80AB-80AD, U+80B0-80B1, U+80B3, U+80B5-80B9, U+80BB-80BD, U+80C2, U+80C4-80C5, U+80C7-80CB, U+80CD, U+80CF-80D5, U+80D7-80D9, U+80DB, U+80DD, U+80DF-80E0, U+80E2-80E6, U+80E8-80EE, U+80F1-80F2, U+80F4-80F5, U+80F7, U+80F9-80FC, U+80FE-8101, U+8103-8105, U+8107-8108, U+810B-810E, U+8112, U+8114-8115, U+8117-8119, U+811B-812E, U+8130, U+8132-8137, U+8139-813D, U+813F-8149, U+814D-814F, U+8151-8153, U+8156-8164, U+8166-816D, U+816F, U+8171-8174;
  font-display: swap;
}

/* 稀有字分块 54 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-54.woff2') format('woff2');
  unicode-range: U+8175-8178, U+817C-817D, U+8181-8189, U+818B-818E, U+8190-8197, U+8199-819A, U+819E-81A7, U+81A9-81B2, U+81B4-81BF, U+81C1, U+81C3-81C9, U+81CB-81E2, U+81E4-81E9, U+81EB-81EC, U+81EE-81F2, U+81F5-81FB, U+81FD-81FF, U+8201-8204, U+8207-820B, U+820E-8211, U+8213, U+8215-821D, U+8220-8229, U+822B, U+822D-822F, U+8232-8234, U+8238, U+823A-8246, U+8248-8257, U+8259-8266;
  font-display: swap;
}

/* 稀有字分块 55 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-55.woff2') format('woff2');
  unicode-range: U+8267-826E, U+8271, U+8274-8279, U+827B-827D, U+827F-8281, U+8283-828A, U+828C, U+828E-8291, U+8293-8298, U+829A-829B, U+829E-82A4, U+82A7-82AB, U+82AE, U+82B0, U+82B2, U+82B4-82B8, U+82BA-82BC, U+82BE-82C6, U+82C8-82CC, U+82CE, U+82D0-82D3, U+82D5-82D6, U+82D8-82DA, U+82DC-82DD, U+82E0-82E4, U+82E7-82EA, U+82EC-82F0, U+82F2-82F8, U+82FA-8300, U+8306-8308, U+830A-830D, U+830F-8326, U+8328-832A, U+832D-8333, U+8337, U+8339-8345, U+8347-8348, U+834A-834F, U+8351, U+8353, U+8355-8359, U+835B-835D, U+835F, U+8362, U+8365-8366, U+8368-836B;
  font-display: swap;
}

/* 稀有字分块 56 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-56.woff2') format('woff2');
  unicode-range: U+836C-836E, U+8370-8376, U+8379-8388, U+838A-83AA, U+83AC-83B0, U+83B3-83B6, U+83B8, U+83BB-83BC, U+83BE-83C6, U+83C8-83C9, U+83CB, U+83CD-83DB, U+83DD-83DF, U+83E1-83E8, U+83EA-83F0, U+83F3-8403, U+8405-840B, U+840F-841C, U+841E-8423, U+8426, U+8429-843C, U+843E-8450;
  font-display: swap;
}

/* 稀有字分块 57 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-57.woff2') format('woff2');
  unicode-range: U+8451-8456, U+8458-845A, U+845C-8460, U+8462, U+8464-846A, U+846D-8470, U+8472-8474, U+8476-8481, U+8483-848A, U+848C-8498, U+849A-849B, U+849D-84B1, U+84B3-84B7, U+84B9-84BE, U+84C0-84C3, U+84C5-84C8, U+84CA-84D5, U+84D7-84DC, U+84DE-84EB, U+84ED-8510, U+8512, U+8514-8516, U+8518-8519, U+851B-852A, U+852D-8532;
  font-display: swap;
}

/* 稀有字分块 58 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-58.woff2') format('woff2');
  unicode-range: U+8533-853B, U+853E-8548, U+854B-8573, U+8575-857D, U+857F-8583, U+8585-8586, U+8588-859A, U+859C-85A9, U+85AB-85AE, U+85B0-85CE, U+85D1-85D4, U+85D6-85E3, U+85E5-85FA, U+85FC-860A;
  font-display: swap;
}

/* 稀有字分块 59 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-59.woff2') format('woff2');
  unicode-range: U+860B-8610, U+8612-8637, U+8639-864D, U+8652-8659, U+865B-866A, U+866C-8670, U+8672-8678, U+867A-867C, U+867F, U+8683-8689, U+868B, U+868D-8692, U+8694, U+8696-869B, U+869D-86A2, U+86A5-86A9, U+86AB-86AE, U+86B0-86BF, U+86C1-86C5, U+86C8, U+86CA, U+86CC-86D3, U+86D5-86D8, U+86DA, U+86DC-86E3, U+86E5-86ED, U+86EF-86F4;
  font-display: swap;
}

/* 稀有字分块 60 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-60.woff2') format('woff2');
  unicode-range: U+86F5-86F8, U+86FA-86FD, U+86FF, U+8701, U+8703-8707, U+8709-8711, U+8714, U+8716, U+8719-871B, U+871D-8720, U+8722-873A, U+873C-8746, U+8748, U+874A-874B, U+874D, U+874F-8756, U+8758, U+875A-875F, U+8761-8773, U+8775, U+8777-8782, U+8784-878C, U+878E-879E, U+87A0-87B9, U+87BB-87BF, U+87C1-87C5, U+87C7-87CA, U+87CC-87D9;
  font-display: swap;
}

/* 稀有字分块 61 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-61.woff2') format('woff2');
  unicode-range: U+87DA-87F8, U+87FA-8814, U+8816-8821, U+8823-883F, U+8841-8844, U+8846-884B, U+884E-8853, U+8855-8856, U+8858, U+885A-8860, U+8862, U+8864, U+8866-8867, U+886A, U+886D-886F, U+8871-8876, U+8878-8880, U+8882-8883, U+8885-888A, U+888C, U+888E-8891, U+8893-8895, U+8897-889B, U+889D-88AA, U+88AC, U+88AE-88B0, U+88B2-88BE;
  font-display: swap;
}

/* 稀有字分块 62 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-62.woff2') format('woff2');
  unicode-range: U+88BF-88C0, U+88C3-88C4, U+88C7-88D4, U+88D6-88D8, U+88DA-88E3, U+88E5-88F2, U+88F4-88F7, U+88FA-8901, U+8903-890F, U+8911, U+8913-8924, U+8926-8929, U+892B-895E, U+8960-897E, U+8980, U+8982-8985, U+8987-8999;
  font-display: swap;
}

/* 稀有字分块 63 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-63.woff2') format('woff2');
  unicode-range: U+899A-89C0, U+89C3, U+89C7, U+89CA-89D1, U+89D3-89E2, U+89E4-89E5, U+89E7-89FF, U+8A01-8A6C;
  font-display: swap;
}

/* 稀有字分块 64 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-64.woff2') format('woff2');
  unicode-range: U+8A6D-8A88, U+8A8B-8A92, U+8A94-8B37;
  font-display: swap;
}

/* 稀有字分块 65 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-65.woff2') format('woff2');
  unicode-range: U+8B38-8B65, U+8B67-8B6B, U+8B6D-8BA0, U+8BA3, U+8BA6-8BA7, U+8BAA-8BAC, U+8BB1, U+8BB4-8BB5, U+8BB7, U+8BBB, U+8BC2-8BC3, U+8BC7, U+8BCB-8BCC, U+8BCE-8BD0, U+8BD2-8BD4, U+8BD6, U+8BD8-8BD9, U+8BDB-8BDC, U+8BDF-8BE0, U+8BE3-8BE4, U+8BE7-8BEA, U+8BEE, U+8BF0, U+8BF3, U+8BF6, U+8BF9, U+8BFC, U+8BFF-8C00, U+8C02, U+8C04, U+8C07, U+8C09, U+8C0C, U+8C0F, U+8C11, U+8C14-8C19, U+8C1B, U+8C1D-8C21, U+8C25, U+8C27, U+8C29-8C2B, U+8C2E-8C30, U+8C32-8C33, U+8C35-8C36, U+8C38-8C40, U+8C42-8C45, U+8C47-8C4B, U+8C4D-8C51;
  font-display: swap;
}

/* 稀有字分块 66 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-66.woff2') format('woff2');
  unicode-range: U+8C52-8C60, U+8C62-8C69, U+8C6C-8C78, U+8C7B-8C8B, U+8C8D-8D1C, U+8D20, U+8D32-8D33;
  font-display: swap;
}

/* 稀有字分块 67 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-67.woff2') format('woff2');
  unicode-range: U+8D36, U+8D3B, U+8D3D, U+8D40, U+8D45-8D49, U+8D4D, U+8D51-8D53, U+8D55, U+8D57, U+8D59, U+8D5C-8D5D, U+8D5F, U+8D63, U+8D65, U+8D67-8D6A, U+8D6C-8D6F, U+8D71-8D73, U+8D78-8D80, U+8D82-8D84, U+8D86-8D89, U+8D8C-8D9E, U+8DA0-8DA2, U+8DA4-8DB2, U+8DB5-8DBD, U+8DBF-8DC2, U+8DC4-8DCA, U+8DCD-8DD0, U+8DD2-8DDA, U+8DDC, U+8DDE, U+8DE0-8DE7, U+8DE9, U+8DEB-8DEE, U+8DF0-8DF2, U+8DF4, U+8DF6, U+8DF8-8DF9, U+8DFB-8E09, U+8E0B-8E0E, U+8E10-8E21, U+8E23-8E28, U+8E2B-8E30, U+8E32-8E3C;
  font-display: swap;
}

/* 稀有字分块 68 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-68.woff2') format('woff2');
  unicode-range: U+8E3D-8E41, U+8E43, U+8E45-8E47, U+8E49-8E4A, U+8E4C-8E65, U+8E67-8E6B, U+8E6E-8E71, U+8E73-8E80, U+8E82-8E8E, U+8E90-8EAA, U+8EAD-8EAE, U+8EB0-8EB1, U+8EB3-8EB9, U+8EBB-8F13;
  font-display: swap;
}

/* 稀有字分块 69 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-69.woff2') format('woff2');
  unicode-range: U+8F14-8F65, U+8F6A-8F6B, U+8F6D, U+8F71-8F73, U+8F75-8F7A, U+8F7C, U+8F7E, U+8F80-8F82, U+8F84, U+8F87, U+8F8A-8F8F, U+8F92, U+8F94, U+8F97-8F98, U+8F9A, U+8F9D, U+8FA0-8FA2, U+8FA4-8FA7, U+8FAA, U+8FAC-8FAF, U+8FB2-8FB8, U+8FBA-8FBC, U+8FBF-8FC0, U+8FC3, U+8FC6, U+8FC9-8FCD, U+8FCF, U+8FD2-8FD3, U+8FD5-8FD7, U+8FDA, U+8FE0-8FEA, U+8FEC-8FEF, U+8FF1-8FF6, U+8FF8, U+8FFA-8FFC, U+8FFE-8FFF, U+9004-9005, U+9007-9008, U+900B-900E, U+9011, U+9013, U+9015-9016, U+9018-9019, U+901C, U+9021, U+9023-9028;
  font-display: swap;
}

/* 稀有字分块 70 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-70.woff2') format('woff2');
  unicode-range: U+9029-902D, U+902F-9037, U+9039-903A, U+903D, U+903F-9041, U+9043-9046, U+9048-904C, U+904E, U+9050-9052, U+9054-9056, U+9058-9062, U+9064, U+9066-906C, U+906F-9074, U+9076-907E, U+9081-9090, U+9092, U+9094-90A1, U+90A4-90A5, U+90A7-90A9, U+90AB-90AD, U+90AF-90BA, U+90BC-90C0, U+90C2-90C9, U+90CB-90CD, U+90CF-90D0, U+90D2-90E7, U+90E9-90EC, U+90EE-90FC, U+90FE-9111;
  font-display: swap;
}

/* 稀有字分块 71 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-71.woff2') format('woff2');
  unicode-range: U+9112-9118, U+911A-914B, U+914E-9151, U+9153-9156, U+9158-915C, U+915E-9162, U+9164, U+9166-9169, U+916B, U+916D-9170, U+9172-9174, U+9176, U+9179-917E, U+9180-9186, U+9188, U+918A, U+918C-9191, U+9193-91C6, U+91C8-91C9, U+91CB, U+91D0, U+91D2-91F3;
  font-display: swap;
}

/* 稀有字分块 72 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-72.woff2') format('woff2');
  unicode-range: U+91F4-9273, U+9275-92BC;
  font-display: swap;
}

/* 稀有字分块 73 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-73.woff2') format('woff2');
  unicode-range: U+92BD-9384;
  font-display: swap;
}

/* 稀有字分块 74 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-74.woff2') format('woff2');
  unicode-range: U+9385-944C;
  font-display: swap;
}

/* 稀有字分块 75 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-75.woff2') format('woff2');
  unicode-range: U+944D-9487, U+948A-9492, U+9494-9498, U+949A-949C, U+94A1, U+94A3-94A4, U+94A8, U+94AA-94AD, U+94AF-94B0, U+94B2, U+94B4-94BA, U+94BC-94BD, U+94BF-94C0, U+94C2, U+94C4, U+94C7-94CF, U+94D1-94DA, U+94DE-94E0, U+94E2, U+94E4-94EC, U+94EE-94F1, U+94F3-94F5, U+94F7, U+94F9, U+94FB-94FD, U+94FF, U+9502-9503, U+9506-9507, U+950A, U+950D-950F, U+9511-9518, U+951B-9520, U+9522, U+9527, U+9529-952C, U+9531-9538, U+953A, U+953C-953F, U+9541-9546, U+9548-9549, U+954B-954F, U+9551;
  font-display: swap;
}

/* 稀有字分块 76 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-76.woff2') format('woff2');
  unicode-range: U+9552-955B, U+955D-9562, U+9564-956F, U+9571-9575, U+9577-957E, U+9580-95E7, U+95E9, U+95EB-95EC, U+95F1, U+95F3, U+95F5-95F6, U+95FC, U+95FE-95FF, U+9602-9604, U+9606-960D, U+960F, U+9611-9613, U+9615-961E, U+9620-9630, U+9637-9639;
  font-display: swap;
}

/* 稀有字分块 77 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-77.woff2') format('woff2');
  unicode-range: U+963A, U+963C-963E, U+9640-9643, U+9647, U+9649-964A, U+964E-964F, U+9651-9654, U+9656-9660, U+9663, U+9665-9667, U+966B-9674, U+9678-9684, U+9687-968E, U+9691-9693, U+9695-9697, U+969A-969B, U+969D-96A6, U+96A8-96B5, U+96B7-96BD, U+96BF, U+96C2-96C3, U+96C8-96CB, U+96CD-96CE, U+96D0-96D4, U+96D6-96E7, U+96E9, U+96EB-96F2, U+96F4-96F5, U+96F8, U+96FA-96FD, U+96FF, U+9701-9706, U+9708, U+970A-970C, U+970F-971B, U+971D, U+971F-9731, U+9733-9737, U+973A;
  font-display: swap;
}

/* 稀有字分块 78 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-78.woff2') format('woff2');
  unicode-range: U+973B-9751, U+9753-9755, U+9757-9758, U+975A-975D, U+975F, U+9763-9768, U+976A-9773, U+9775, U+9777-978A, U+978C, U+978E-979F, U+97A1-97AC, U+97AE-97E6, U+97E8, U+97EA-97EC, U+97EE-97F2, U+97F4, U+97F6-9815;
  font-display: swap;
}

/* 稀有字分块 79 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-79.woff2') format('woff2');
  unicode-range: U+9816-9874, U+9878, U+987C, U+9880, U+9883, U+9889, U+988B-9890, U+9892, U+9894-9895, U+9899-989B, U+989E-989F, U+98A1-98A3, U+98A5-98CD, U+98CF-98D1, U+98D3-98D7, U+98D9-98DD, U+98E0-98FC;
  font-display: swap;
}

/* 稀有字分块 80 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-80.woff2') format('woff2');
  unicode-range: U+98FD-990F, U+9911-9964, U+9966-996C, U+996F, U+9973-9974, U+9977-9979, U+997B, U+997D-997E, U+9980, U+9982-9984, U+9987-998A, U+998C, U+998E, U+9990-9991, U+9993-9995, U+9997-9998, U+999A-99D9;
  font-display: swap;
}

/* 稀有字分块 81 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-81.woff2') format('woff2');
  unicode-range: U+99DA-9A6B, U+9A6D, U+9A72, U+9A75, U+9A77-9A78, U+9A7A, U+9A7D, U+9A7F-9A81, U+9A83, U+9A85, U+9A88-9A8B, U+9A8D-9A8E, U+9A90, U+9A92-9A96, U+9A98-9A99, U+9A9B-9AA0, U+9AA2-9AA3, U+9AA5-9AA7, U+9AA9-9AB9;
  font-display: swap;
}

/* 稀有字分块 82 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-82.woff2') format('woff2');
  unicode-range: U+9ABA-9AD2, U+9AD4-9AD7, U+9AD9-9B12, U+9B14-9B3B, U+9B3D-9B40, U+9B43, U+9B45-9B4E, U+9B50-9B53, U+9B55-9B8A;
  font-display: swap;
}

/* 稀有字分块 83 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-83.woff2') format('woff2');
  unicode-range: U+9B8B-9C52;
  font-display: swap;
}

/* 稀有字分块 84 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-84.woff2') format('woff2');
  unicode-range: U+9C53-9C7B, U+9C7D-9C80, U+9C82-9C9B, U+9C9D-9CA3, U+9CA5-9CAA, U+9CAC-9CB7, U+9CB9-9CC3, U+9CC5-9CCC, U+9CCE-9CD5, U+9CD7-9CDD, U+9CDF-9D24;
  font-display: swap;
}

/* 稀有字分块 85 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-85.woff2') format('woff2');
  unicode-range: U+9D25-9DEC;
  font-display: swap;
}

/* 稀有字分块 86 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-86.woff2') format('woff2');
  unicode-range: U+9DED-9E1E, U+9E22, U+9E24, U+9E27-9E2C, U+9E2E, U+9E30-9E32, U+9E34, U+9E36-9E3C, U+9E3E, U+9E40-9E42, U+9E44, U+9E46-9E48, U+9E4B-9E4E, U+9E50-9E63, U+9E65, U+9E67-9E6F, U+9E71-9E7E, U+9E80-9EA5, U+9EA7-9EB7, U+9EB9-9EBA, U+9EBC-9EC3, U+9EC5-9ECC, U+9ECF;
  font-display: swap;
}

/* 稀有字分块 87 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-87.woff2') format('woff2');
  unicode-range: U+9ED0, U+9ED2-9ED3, U+9ED5-9ED7, U+9ED9-9F0D, U+9F0F-9F12, U+9F14-9F1F, U+9F21-9F3A, U+9F3C-9F4F, U+9F51-9F7E, U+9F80-9F83, U+9F85-9F98, U+9F9A-9F9E, U+9FA0-9FA3;
  font-display: swap;
}

/* 稀有字分块 88 */
@font-face {
  font-family: 'Noto Serif SC';
  src: url(' ./font/rare-88.woff2') format('woff2');
  unicode-range: U+9FA4-9FFF;
  font-display: swap;
}
